/* ===================MOBILE S===================*/
@media screen and (min-width: 320px) {
    .html-home{
        width: 24.5rem;
    }
    .html-hom{
        width: 24.5rem;
    }
    .home__img{
        padding-block-end: 310px; 
        left: 9.5rem;
    }
    .home__title{
        width: 10px;
    }
    .home__subtitle{
        width: 10px;
    }
    .text-certificado{
        font-size: 10px;
    }
    .accordion{
        height: 120vh;
    }
    .accordion__header{
        display: flex;
        justify-content: space-between;
    }
    .sociall{
        column-gap: 7.1rem;
    }
    .section_title_services{
        bottom: 135px;
    }
    .separator-line_services{
        bottom: 130px;
    }
    .footer_componentes{
        height: 200px;
        padding-inline-start: 1.5rem;
    }
    .accordion__header{
        column-gap: 6.1rem;
    }
    /* #soporte{
        font-size: 9px;
    }
    .problems-footer{
        width: 318px;
        left: 0;
    }
    #problem-question{
        padding-inline-start: 16rem;
        font-size: 10px;
        padding-block-end: .5rem;
        height: 2.5rem;
    }
    #separator-line-div-5{
        left: 193px;
    } */
    .nav__iconn{
        color: white;
    }
    .containerr{
        margin-left: -20rem;
    }
    .logoo-png{
        height: 30px;
        position: relative;
        top: 3px;
        left: 357px;
    }
    .contact__homee{
        padding-inline-start: 29rem;
    }
}
/* ===================MOBILE M===================*/
@media screen and (min-width: 375px) {
    .html-home{
        width: 25.4rem;
    }
    .html-hom{
        width: 25.4rem;
    }
    .home__img{
        padding-block-end: 310px; 
        left: 9.5rem;
    }
    .home__title{
        width: 10px;
    }
    .home__subtitle{
        width: 10px;
    }
    .text-certificado{
        font-size: 10px;
    }
     .accordion{
        height: 120vh;
    }
    .sociall{
        column-gap: 7.1rem;
    }
    .section_title_services{
        bottom: 154px;
    }
    .separator-line_services{
        bottom: 150px;
    }
    .footer_componentes{
        height: 200px;
    }
    .nav__iconn{
        color: white;
    }
    .containerr{
        margin-left: -20rem;
    }
    .logoo-png{
        height: 30px;
        position: relative;
        top: 3px;
        left: 357px;
    }
    .contact__homee{
        padding-inline-start: 32rem;
    }
}
/* ===================MOBILE L===================*/
@media screen and (min-width: 425px) {
    .html-home{
        width: auto;
    }
    .html-hom{
        width: auto;
    }
    .sociall{
        column-gap: 7.1rem;
    }
    .home__img{
        padding-block-end: 310px; 
        left: 10.5rem;
    }
    .home__title{
        width: 10px;
    }
    .home__subtitle{
        width: 10px;
    }
    .text-certificado{
        font-size: 10px;
    }
    .separator-line{
        width: 420px;
    }
    .accordion{
        height: 100vh;
    }
    .section_title_services{
        bottom: 120px;
    }
    .separator-line_services{
        bottom: 115px;
    }
    .nav__iconn{
        color: white;
    }
    .containerr{
        margin-left: -20rem;
    }
    .logoo-png{
        height: 30px;
        position: relative;
        top: 3px;
        left: 357px;
    }
    .contact__homee{
        padding-inline-start: 32rem;
    }
}
/* ===================TABLET===================*/
@media screen and (min-width: 768px) {
    header {
        height: 70px;
    }
    .html-hom{
        width: auto;
    }
    .nav__icon {
        color: #c19aa8;
        font-size: 1.2rem;
    }
    .uil-bars:before{
        color: #c19aa8;
    }
    .nav__menu{
        padding-inline-start: 11rem;
        padding-block-end: 2rem;
    }
    .nav__list{
        display: flex;
        column-gap: 3.5rem;
        background-color: #c19aa8;
      }
    .html-home{
        width: auto;
    }
    .home__img{
        width: 20rem;
        padding-block-end: 310px;
        left: 24rem;
    }
    .home__title {
        font-weight: 600;
        line-height: 60px;
        font-size: 4rem;
        width: 10px;
    }
    .home__subtitle{
        padding-block-start: 1rem;
        font-size: 40px;
        line-height: 40px;
        width: 10px;
    }
    .home__data{
        padding-inline-start: 3rem;
    }
    .button-servicess{
        padding-top: 13px;
        padding-inline-start: 23px;
        padding-inline-end: 23px;
    }
    .separator-line{
        width: 730px;
    }
    .about-me-title{
        font-size: 40px;
    }
    .about-me-text{
        font-size: 25px;
    }
    .text-certificado{
        font-size: 25px;
    }
    .button-contact{
        font-size: 20px;
    }
    .button-services{
        font-size: 20px;
    }
    .custom_section_2{
        height: 35rem;
    }
    .photo-customs{
        width: 200px;
        height: 250px;
    }
    .swiper-3d{
       perspective: 70rem ;
    }
    .discover__img{
        width: 20rem;
    }
    .discover__card .swiper-slide{
        width: 100rem;
    }
    .discover__card{
        width: 320px;
    }
    .accordion{
        height: 110vh;
    }
    .footer_componentes{
        height: 200px;
        padding-inline-start: 13rem;
    }
    .social-footer{
        left: -80px;
    }
    #separator-line-div-4{
        left: 20px;
    }
    #separator-line-div-5{
        left: 250px;
    }
    .problems-footer{
        left: 300px;
    }
    .logoo-png{
        height: 30px;
        position: relative;
        top: 3px;
        left: 4px;
    }
    .nav__iconn{
        color: white;
    }
    .containerr{
        margin-left: 4rem;
    }
    .contact__homee{
        padding-inline-start: 25rem;
    }
}
/* ===================LAPTOP===================*/
@media screen and (min-width: 1024px) {
    .logo{
        height: 46px;
        bottom: 10px;
    }
    .html-home{
        width: auto;
    }
    .html-hom{
        width: auto;
    }
    .header{
        height: 98px;
    }
    .nav__icon {
        color: #c19aa8;
        font-size: 1.2rem;
    }
    .nav__menu{
        padding-block-end: 2rem;
    }
    .home__img{
        width: 25rem;
        left: 33rem;
    }
    .home__title{
        width: 10px;
    }
    .home__subtitle{
        width: 10px;
    }
    .home__data{
        padding-inline-start: 10rem;
        padding-block-start: 10rem;
    }
    .customs-title{
        font-size: 35px;
    }
    .photo-customs{
        width: 239px;
        height: 306px;
    }
    .custom_section_2{
        height: 27rem;
    }
    .separator-line{
        width: 1000px;
    }
    .section__title{
        font-size: 35px;
    }
    .section__subtitle{
        font-size: 30px;
    }
    .see-more-ig a p{
        font-size: 20px;
    }
    .see-more-ig a img{
        left: 213px;
        bottom: 25px;
    }
    .swiper-3d{
        perspective: 80rem ;
     }
     .discover__img{
        width: 35rem;
     }
     .discover__card .swiper-slide{
        width: 140rem;
     }
     .discover__card{
        width: 400px;
     }
     .accordion{
        height: 105vh;
     }
     .footer_componentes{
        padding-inline-start: 20rem;
     }
     .contact__homee{
        padding-inline-start: 33rem;
    }
    .contact-container-title{
        padding-block-start: 3rem;
    }
}
/* ===================LAPTOP L===================*/
@media screen and (min-width: 1440px) {
    .html-home{
        width: auto;
    }
    .html-hom{
        width: auto;
    }
    .header{
        height: 80px;
    }
    .nav__icon {
        color: #c19aa8;
        font-size: 1.2rem;
    }
    .nav__link{
        font-size: 1.2rem;
    }
    .logo-png{
        left: -132px;
    }
    .nav__menu{
        scroll-padding-inline-start: 15rem;
        padding-block-end: 2rem;
    }
    .home__img {
        width: 28rem;
        left: 57rem;
    }
    .home__title {
        font-weight: 600;
        line-height: 100px;
        font-size: 6rem;
        width: 1000px;
    }
    .home__subtitle{
        font-size: 60px;
        line-height: 60px;
        width: 1000px;
    }
    .home__data{
        padding-inline-start: 7rem;
        padding-block-start: 12rem;
    }
    .about-me-title{
        font-size: 40px;
    }
    .about-me-text{
        font-size: 30px;
    }
    .text-certificado{
        font-size: 30px;
    }
    .photo-customs {
        width: 349px;
        height: 437px;
    }
    .custom_section_2 {
        height: 43rem;
    }
    .swiper-3d{
        perspective: 100rem ;
     }
     .discover__img{
        width: 25rem;
     }
     .discover__card .swiper-slide{
        width: 640rem;
     }
     .discover__card{
        width: 410px;
     }
     .accordion{
        height: 150vh;
     }
     .separator-line{
        width: 76rem;
     }
     .separator-line-div-4{
        width: 500px;
     }
     .separator-line-div{
        bottom: 22.8rem;
     }
     .section_title_services {
        bottom: 120px;
        font-size: 35px;
        font-weight: 500;
    }
    .separator-line_services{
        width: 500px;

    }
    .section__1 {
    font-size: 25px;
    font-weight: 400;
    }
    .section__2 {
        font-size: 25px;
        font-weight: 400;
    }
    .accordion__container {
        width: 550px;
        justify-self: center;
        border-radius: .75rem;
        padding: 0;
    }
    .containerr{
        margin-left: 14rem;
    }
    .footer_componentes{
        padding-inline-start: 35rem;
    }
}
/* ===================LAPTOP NEHUEN===================*/
@media screen and (min-width: 1920px) {
    .html-home{
        width: auto;
    }
    .html-hom{
        width: auto;
    }
    .home__img {
        left: 75rem;
        width: 40rem;
        top: 21px;
    }
    .home__data{
        padding-inline-start: 29rem;
        padding-block-start: 12rem;
    }
    .button-servicess{
        margin-inline-start: 1.4rem;
    }
    .footer_componentes{
        scroll-padding-inline-start: 50rem;
    }

    .see-more-pint a img{
        left: 163px;
        bottom: 22px;
    }
    .separator-line{
        width: 115rem;
    }
    .separator-line-div{
        bottom: 21.5rem;
    }
    .buttons {
        display: flow-root;
        margin-top: 25px;
        margin-bottom: 45px;
    }
    .button-contact{
        margin: 25px;
    }
    .button-services{
        margin: 25px;
    }
    .logo{
        position: relative;
        right: 250px;
    }
    .logo:hover{
        transform: scale(1.1);
        transition: .2s;
    }
    .nav__menu{
        position: relative;
        left: 320px;
    }
    .home__title {
        font-weight: 700;
        line-height: 140px;
        font-size: 9.5rem;
        position: relative;
        right: 300px;
        width: 1000px;
        top: 100px;
    }
    .home__subtitle {
        font-size: 73px;
        line-height: 80px;
        right: 295px;
        position: relative;
        width: 1000px;
        top: 110px;
    }
    .accordion__container {
        width: 850px;
    }
    .accordion{
        height: 97.5vh;
    }
    .customs {
        width: 1700px;
    }
    .swiper-3d{
        perspective: 100rem ;
     }
     .discover__img{
        width: 30rem;
     }
     .discover__card .swiper-slide{
        width: 640rem;
     }
     .discover__card{
        width: 500px;
     }
     .custom_section_2{
        height: 43rem;
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
    }
    .see-more-ig a p {
        font-size: 22px;
        position: relative;
        right: 35px;
    }
    .see-more-ig a img {
        left: 220px;
    }
    .see-more-pint a p{
        font-size: 22px;
        position: relative;
        right: 35px;
    }
    .see-more-pint a img{
        bottom: 26px;
        left: 200px;
    }
    .containerr{
        margin-left: 50rem;
    }
    .logoo-png{
        left: -338px;
    }
    .footer_componentes{
        padding-inline-start: 54rem;
    }
}

@media screen and (min-width: 1800px) {
    .footer_componentes{
        padding-inline-start: 43rem;
    }
    .contact__homee{
        padding-inline-start: 45rem;
    }
}