/* ===================MOBILE S===================*/
@media screen and (min-width: 320px) {
    .html-home{
        width: 24.5rem;
    }
    .html-hom{
        width: 24.5rem;
    }
    .home__img{
       padding-block-end: 19.5rem; 
       left: 10rem;
    }
    .home__title{
        width: 10px;
    }
    .home__subtitle{
        width: 10px;
    }
    .accordion{
        height: 146vh;
    }
    .sociall{
        column-gap: 7.1rem;
    }
    .section_title_services{
        bottom: 135px;
    }
    .separator-line_services{
        bottom: 130px;
    }
    .footer_componentes{
        height: 200px;
        padding-inline-start: 1.5rem;
    }
    /* #soporte{
        font-size: 9px;
    }
    .problems-footer{
        width: 318px;
        left: 0;
    }
    #problem-question{
        padding-inline-start: 16rem;
        font-size: 10px;
        padding-block-end: .5rem;
        height: 2.5rem;
    }
    #separator-line-div-5{
        left: 193px;
    } */
}
/* ===================MOBILE M===================*/
@media screen and (min-width: 375px) {
    .html-home{
        width: 25rem;
    }
    .html-hom{
        width: 25rem;
    }
    .home__img{
        padding-block-end: 19.5rem; 
        left: 11rem;
    }
    .home__title{
        width: 10px;
    }
    .home__subtitle{
        width: 10px;
    }
     .accordion{
        height: 160vh;
    }
    .sociall{
        column-gap: 7.1rem;
    }
    .section_title_services{
        bottom: 154px;
    }
    .separator-line_services{
        bottom: 150px;
    }
    .footer_componentes{
        height: 200px;
    }
}
/* ===================MOBILE L===================*/
@media screen and (min-width: 425px) {
    .html-home{
        width: auto;
    }
    .html-hom{
        width: auto;
    }
    .sociall{
        column-gap: 7.1rem;
    }
    .home__img{
        padding-block-end: 19.5rem; 
        left: 11rem;
    }
    .home__title{
        width: 10px;
    }
    .home__subtitle{
        width: 10px;
    }
    .separator-line{
        width: 420px;
    }
    .accordion{
        height: 117vh;
    }
    .section_title_services{
        bottom: 120px;
    }
    .separator-line_services{
        bottom: 115px;
    }
}
/* ===================TABLET===================*/
@media screen and (min-width: 768px) {
    header {
        height: 70px;
    }
    .html-hom{
        width: auto;
    }
    .nav__icon {
        color: #c19aa8;
        font-size: 1.2rem;
    }
    .uil-bars:before{
        color: #c19aa8;
    }
    .nav__menu{
        padding-inline-start: 11rem;
        padding-block-end: 2rem;
    }
    .nav__list{
        display: flex;
        column-gap: 3.5rem;
        background-color: #c19aa8;
      }
    .html-home{
        width: auto;
    }
    .home__img{
        width: 20rem;
        padding-block-end: 19.5rem;
        left: 24rem;
    }
    .home__title {
        font-weight: 600;
        line-height: 60px;
        font-size: 4rem;
        width: 10px;
    }
    .home__subtitle{
        padding-block-start: 1rem;
        font-size: 40px;
        line-height: 40px;
        width: 10px;
    }
    .home__data{
        padding-inline-start: 3rem;
    }
    .separator-line{
        width: 730px;
    }
    .about-me-title{
        font-size: 40px;
    }
    .about-me-text{
        font-size: 25px;
    }
    .button-contact{
        font-size: 20px;
    }
    .button-services{
        font-size: 20px;
    }
    .custom_section_2{
        height: 35rem;
    }
    .photo-customs{
        width: 200px;
        height: 250px;
    }
    .swiper-3d{
       perspective: 550px ;
    }
    .discover__img{
        width: 20rem;
    }
    .discover__card .swiper-slide{
        width: 100rem;
    }
    .discover__card{
        width: 320px;
    }
    .accordion{
        height: 166vh;
    }
    .footer_componentes{
        height: 200px;
        padding-inline-start: 15rem;
    }
    .social-footer{
        left: -80px;
    }
    #separator-line-div-4{
        left: 20px;
    }
    #separator-line-div-5{
        left: 250px;
    }
    .problems-footer{
        left: 300px;
    }
}
/* ===================LAPTOP===================*/
@media screen and (min-width: 1024px) {
    .logo{
        height: 46px;
        bottom: 10px;
    }
    .html-home{
        width: auto;
    }
    .html-hom{
        width: auto;
    }
    .header{
        height: 98px;
    }
    .nav__icon {
        color: #c19aa8;
        font-size: 1.2rem;
    }
    .nav__menu{
        padding-block-end: 2rem;
    }
    .home__img{
        width: 25rem;
        left: 33rem;
    }
    .home__title{
        width: 10px;
    }
    .home__subtitle{
        width: 10px;
    }
    .home__data{
        padding-inline-start: 10rem;
        padding-block-start: 10rem;
    }
    .customs-title{
        font-size: 35px;
    }
    .photo-customs{
        width: 239px;
        height: 306px;
    }
    .custom_section_2{
        height: 27rem;
    }
    .separator-line{
        width: 1000px;
    }
    .section__title{
        font-size: 35px;
    }
    .section__subtitle{
        font-size: 30px;
    }
    .see-more-ig a p{
        font-size: 20px;
    }
    .see-more-ig a img{
        left: 213px;
        bottom: 25px;
    }
    .swiper-3d{
        perspective: 650px ;
     }
     .discover__img{
        width: 35rem;
     }
     .discover__card .swiper-slide{
        width: 140rem;
     }
     .discover__card{
        width: 400px;
     }
     .accordion{
        height: 84vh;
     }
}
/* ===================LAPTOP L===================*/
@media screen and (min-width: 1440px) {
    .html-home{
        width: auto;
    }
    .html-hom{
        width: auto;
    }
    .header{
        height: 80px;
    }
    .nav__icon {
        color: #c19aa8;
        font-size: 1.2rem;
    }
    .nav__link{
        font-size: 1.2rem;
    }
    .logo-png{
        left: -132px;
    }
    .nav__menu{
        scroll-padding-inline-start: 15rem;
        padding-block-end: 2rem;
    }
    .home__img {
        width: 32rem;
        left: 50rem;
    }
    .home__title {
        font-weight: 600;
        line-height: 100px;
        font-size: 6rem;
        width: 500px;
    }
    .home__subtitle{
        font-size: 60px;
        line-height: 60px;
        width: 200px;
    }
    .about-me-title{
        font-size: 40px;
    }
    .about-me-text{
        font-size: 30px;
    }
    .photo-customs {
        width: 349px;
        height: 437px;
    }
    .custom_section_2 {
        height: 43rem;
    }
    .swiper-3d{
        perspective: 750px ;
     }
     .discover__img{
        width: 25rem;
     }
     .discover__card .swiper-slide{
        width: 640rem;
     }
     .discover__card{
        width: 410px;
     }
     .accordion{
        height: 150vh;
     }
     .separator-line-div-4{
         width: 500px;
     }
     .section_title_services {
        bottom: 120px;
        font-size: 35px;
        font-weight: 500;
    }
    .separator-line_services{
        width: 500px;

    }
    .section__1 {
    font-size: 25px;
    font-weight: 400;
    }
    .section__2 {
        font-size: 25px;
    font-weight: 400;
    }
    .accordion__container {
        width: 550px;
        justify-self: center;
        border-radius: .75rem;
        padding: 0;
    }
    .accordion__icon {
        position: relative;
        left: 430px;
    }
}
/* ===================LAPTOP NEHUEN===================*/
@media screen and (min-width: 1920px) {
    .accordion__icon {
        position: relative;
         left: 430px;
    }
    .html-home{
        width: auto;
    }
    .html-hom{
        width: auto;
    }
    .home__img {
        left: 70rem;
        width: 50rem;
        top: 3px;
    }
    .home__data{
        padding-inline-start: 29rem;
        padding-block-start: 12rem;
    }
    .footer_componentes{
        scroll-padding-inline-start: 50rem;
    }

    .see-more-pint a img{
        left: 163px;
        bottom: 22px;
    }
    .separator-line{
        width: 1650px;
    }
    .buttons {
        display: flow-root;
        margin-top: 25px;
        margin-bottom: 45px;
    }
    .button-contact{
        margin: 25px;
    }
    .button-services{
        margin: 25px;
    }
    .logo{
        position: relative;
        right: 370px;
    }
    .nav__menu{
        position: relative;
        left: 430px;
    }
    .home__title {
        font-weight: 700;
        line-height: 140px;
        font-size: 9.5rem;
        position: relative;
        right: 300px;
        width: 1000px;
        top: 100px;
    }
    .home__subtitle {
        font-size: 73px;
        line-height: 80px;
        right: 295px;
        position: relative;
        width: 1000px;
        top: 110px;
    }
    .accordion__container {
        width: 850px;
    }
    .accordion__icon {
        position: relative;
        left: 350px;
    }
    .accordion{
        height: 97.5vh;
    }
    .customs {
        width: 1700px;
    }
    .swiper-3d{
        perspective: 750px ;
     }
     .discover__img{
        width: 30rem;
     }
     .discover__card .swiper-slide{
        width: 640rem;
     }
     .discover__card{
        width: 500px;
     }
     .custom_section_2{
        height: 43rem;
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
    }
    .see-more-ig a p {
        font-size: 22px;
        position: relative;
        right: 35px;
    }
    .see-more-ig a img {
        left: 220px;
    }
    .see-more-pint a p{
        font-size: 22px;
        position: relative;
        right: 35px;
    }
    .see-more-pint a img{
        bottom: 26px;
        left: 200px;
    
        
    }
}