/* /==================== GOOGLE FONTS ====================/ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

/* /==================== BASE ====================/ */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  
}
.html-home {
  background-color: #FFF3ED;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/* /==================== LAYOUT ====================/ */
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.header{
  width: 100%;
  position: fixed;
  background-color: #C19AA8;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerr{
  padding-inline: 4rem;
  width: 100%;
  position: fixed;
  background-color: #C19AA8;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* /==================== NAV ====================/ */
.nav{
  max-width: 968px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  height: 50px;position: relative;
  
}

.hambuerguesa{
  position: relative;
  height: .8rem;
  left: 130px;
}
.nav__toggle{
  cursor: pointer;
}

.logoo-png{
  height: 30px;
  position: relative;
  bottom: -3px;
  right: 32px;
  /* padding-inline-start: 1rem;
   */
}
.logoo-png:hover{
  transform: scale(1.1);
  transition: .2s;
}
.logologoo-png:after{
  transition: .2s;
}
.uil-bars:before {
  color: white;
  position: relative;
  left: 180px;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    top: 3.1rem;
    right: -99%;
    width: 40%;
    padding: 1rem .5rem 1rem;
    box-shadow:0px 4px 5px 2px rgb(0 0 0 / 25%);
    border-radius:  0 0 .6rem .6rem;
    transition: .5s;
    
  }
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8rem;
  color: #fff;
  font-weight: 500;
}

.nav__link:hover{
  color: #573b45;
  transition: .2s;
}

.nav__icon{
  font-size: 1.2rem;
}

.nav__iconn{
  font-size: 1.2rem;
}

/* show menu */
.show-menu{
  right: 0;
  background-color: #9E7785;
}

.logo{
  height: 30px;
  position: relative;
  bottom: 3px;
  right: 32px;
  /* padding-inline-start: 1rem;
   */
}
.logo:hover{
  transform: scale(1.1);
  transition: .2s;
}
.logo:after{
  transition: .2s;
}
/* /==================== HOME ====================/ */
.home{
  height: 3rem;
}
  .home__data{
    align-self: center;
    padding-top: 7rem;
    padding-inline-start: .8rem;
  }

  .home__title{
    font-weight: 600;
    line-height: 37px;
    font-size: 2.2rem;
    
  }

  .home__subtitle{
    color: var(--first-color);
    font-weight: normal;
    font-size: 21px;
  }

  .home__img{
    position: relative;
    right: 0;
    bottom: 0;
    width: 230px;
    padding-block-end: 19rem;
    border-radius: 100px;
    padding-block-start: 2rem;
  }
/* /==================== ABOUT ====================/ */
  .separator-line-div{
    position: relative;
    bottom: 19.8rem;
  }
  .separator-line {
    size: 1rem;
    color: #C9C9C9;
    width: 366px;
    margin: 0 auto;
    
  }
  .about-me {
    position: relative;
    bottom: 312px;
    text-align: center;
  }
  .about-me-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding: 10px;
    font-weight: 500;
  }
  .about-me-text {
    font-size: 16.5px;
  }
         /* BUTTONS CONTACT AND SERVICES */
  .buttons{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: grid;
    justify-items: center;
    position: relative;
    bottom: 295px;
   
  }
  .button-contact{
    background-color:#C096C7;
    font-weight:500;
    color: white;
    padding: 10px;
    border-radius: 22px;
    margin-bottom: 8px;
    font-size: 18px;
    box-shadow:0px 4px 5px 0px #60606085;
  }
  .button-contact:hover{
    color:#ffffff;
    background-color:#573b45 ;
    transition: .2s;
    transform: scale(1.1);
  }
  .button-services:hover{
    color:#ffffff;
    background-color:#573b45 ;
    transition: .2s;
    transform: scale(1.1);
  }
  .button-services{
    background-color:#D6A1BD;
    font-weight:500;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 8px;
    border-radius: 22px;
    font-size: 18px;
    box-shadow:0px 4px 5px 0px #60606085;
  }
  .text-certificado{
    padding-block-start: .3rem;
    font-size: 23px;
    font-weight: 500;
  }
  .masabajo{
    padding-block-start: 3rem;
  }
  .certificado:hover{
    text-decoration-line: underline;
    color:#c4567d ;
    transition: .2s;
  }
  .separator-line-div-2 {
    position: relative;
    bottom: 17.4rem;
  }
  
  .separator-line-div-3 {
    position: relative;
    bottom: 16rem;
  }
/* /==================== CUSTOMS ====================/ */
/* /==================== mines ====================/ */
/* .image__overlay {
  position: absolute;
  top: 7px;
  left: 25px;
  width: 9.7rem;
  height: 12.4rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-inline-start: 2rem;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.35s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__description {
  font-size: 1rem;
  font-weight: 400;
}
.image_description_2 {
  font-size: 1rem;
  font-weight: 400;
  padding-inline-start: 6px;
} */
/* /==================== monserrat ====================/ */
/* /==================== reppeto ====================/ */
/* /==================== blazer ====================/ */
/* /==================== agus villa ====================/ */
/* /==================== marti munos ====================/ */
/* .image_overlay_munos{
  position: absolute;
  top: 432px;
  left: 195px;
  width: 9.7rem;
  height: 12.3rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-inline-start: 2rem;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.35s;
}

.image_overlay_munos > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image_overlay_munos:hover {
  opacity: 1;
}

.image_overlay_munos:hover > * {
  transform: translateY(0);
}
.image__overlay--primary {
  background: hsla(0, 0%, 24%, 0.404)
}
.image_description_2_munos {
  font-size: 1rem;
  font-weight: 400;
  padding-inline-start: 38px;
}
.image_description_3_munos {
  font-size: 1rem;
  font-weight: 400;
} */
/* /==================== rubia remera negra ====================/ */
/* /==================== makeupbyvir ====================/ */
.custom_section_2{
  height: 40rem;
}
.customs-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  padding: 10px;
  font-weight: 500;
}
.customs-title-div {
  display: grid;
  justify-content: center;
  position: relative;
  bottom: 273px;
}
.customs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  bottom: 275px;
}
.photo-customs{
  width: 170px;
  height: 212px;
  Overflow: hidden;
  padding: 7px;
}
.see-more-ig{
display: grid;
justify-content: center;
position: relative;
bottom: 255px;
}
.see-more-ig a p{
color: black;
position: relative;
right: 20px;
font-weight: bold;
}
.see-more-ig:hover{
  color: #573b45;
  transition: .2s;
}
.see-more-ig a img {
width: 20px;
height: 20px;
position: relative;
bottom: 21px;
left: 165px;
}

/* /==================== INSPO's ====================/ */
.separator-line-div-4 {
  size: 1rem;
  color: #C9C9C9;
  width: 366px;margin: 0 auto;
  position: relative;
  bottom: 4rem;
  width: 200px;
}

.section__title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
  padding-block-start: 1rem;
  font-weight: 500;

}

.section__subtitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom:20px ;
  font-weight: 400;
}
.carousel{
  overflow: hidden;
  position: relative;
  bottom: 60px;
}
.discover__card {
  position: relative;
  width: 200px;
  overflow: hidden;
}

.discover__data {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}

.discover__title, 
.discover__description {
  color: #000;
  background-color: #d2a4a4;
  border-radius: 3px;
}

.discover__title {
  font-size: .8rem;
}

.discover__description {
  display: block;
  font-size: .75rem;
}

.discover__img {
  transition: .3s;
}
/* .discover__img:hover {
  transform: scale(1.1);
} */

.swiper-container-3d, .swiper-slide-shadow-left{
  background-image: none !important;
}
.swiper-container-3d, .swiper-slide-shadow-right{
  background-image: none !important;
}
/* /==================== SERVICES ====================/ */
@media screen and (min-width: 968px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
.separator-line-div-6{
position: relative;
bottom: 200px;
}
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
  
}
.section_title_services{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 40px;
}

.separator-line_services{
  size: 1rem;
  color: #C9C9C9;
  width: 200px;
  margin: 0 auto;
  position: relative;
  bottom: 20px;
}
.section__1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  bottom: 10px;
  position: relative;
}

.section__2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-start: 1rem;
  font-size: larger;
}
.accordion {
  display: grid;
  align-content: center;
  height: auto;
}
.padding{
  padding-block-end: 8rem;
}
.accordion__container {
  display: grid;
  row-gap: .75rem;
  position: relative;
  bottom: 70px;
  /* padding: 2rem 1rem;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 12px 32px rgba(51, 51, 51, 0.1); */
}

.accordion__title {
  font-size: .813rem;
  color: var(--title-color);
  font-weight: 400;
  margin-top: .15rem;
  transition: .2s;
}

.accordion__header {
  display: flex;
  align-items: center;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  cursor: pointer;
}
.xv1 {
  display: flex;
  align-items: center;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  cursor: pointer;
}
.social{
  display: flex;
  align-items: center;
  column-gap: 10.1rem;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  cursor: pointer;
}
.sociall{
  display: flex;
  align-items: center;
  column-gap: 10.1rem;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  cursor: pointer;
}
.clases{
  display: flex;
  align-items: center;
  column-gap: 5.5rem;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  cursor: pointer;
}
.accordion__description {
  padding: 0 1.25rem 1.25rem 3rem;
  font-size: .75rem;
}

.accordion__icon {
  font-size: 1.5rem;
  height: max-content;
  color: var(--title-color);
  transition: .3s;
}

.accordion__item {
  box-shadow: 0 2px 6px rgba(38, 38, 38, 0.1);
  background-color: var(--container-color);
  border-radius: .25rem;
  position: relative;
  transition: all .25s ease;
}

.accordion__item::after {
  content: '';
  background-color: var(--first-color);
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .25rem 0 0 .25rem;
}

.accordion__item:nth-child(1) {
  background-color: #FFF3ED;
}

.accordion__item:nth-child(1)::after {
  background-color: #a85774;
}

.accordion__item:nth-child(2) {
  background-color: #FFF3ED;
}

.accordion__item:nth-child(2)::after {
  background-color: #a85774;
}

.accordion__item:nth-child(3) {
  background-color: #FFF3ED;
}

.accordion__item:nth-child(3)::after {
  background-color: #a85774;
}

.accordion__item:nth-child(4) {
  background-color: #FFF3ED;
}

.accordion__item:nth-child(4)::after {
  background-color: #a85774;
}

.accordion__item:nth-child(5) {
  background-color: #FFF3ED;
}

.accordion__item:nth-child(5)::after {
  background-color: #a85774;
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: all .25s ease;
}

/* /Rotate icon and add font weight to titles/ */
.accordion-open .accordion__icon {
  transform: rotate(45deg);
}

.accordion-open .accordion__title {
  font-weight: 600;
 
}
.see-more-pint{
  display: grid;
  justify-content: center;
  position: relative;
  ;top: 10px;
  padding: 10px;
  }
  .see-more-pint a p{
  color: black;
  position: relative;
  right: 10px;
  font-weight: bold;
  }
  .see-more-pint a img {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 22px;
  left: 163px;
  }
  .swiper-3d{
    perspective: 350px;
  }

/* /=============== MEDIA QUERIES ===============/ */
/* For medium devices */
@media screen and (min-width: 576px) {
  .accordion__container {
    width: 550px;
    padding: 2.5rem;
    justify-self: center;
    border-radius: .75rem;
  }
  .accordion__header {
    padding: 1.5rem;
  }
  .accordion__title {
    padding-right: 3.5rem;
  }
  .accordion__description {
    padding: 0 4rem 1.25rem 3.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}


/* /==================== FOOTER ====================/ */
.footer{
  background-color:#5B3B58;
  color: white;
  position: relative;
}
.footer-contact{
  background-color:#5B3B58;
  color: white;
  position: relative;
  top: 120px;
}
.none-footer{
  background-color: #5B3B58;
  height: 25px
}
.purple-footer{
display: grid;
justify-content: center;
height: auto;
position: relative;
}
.dark-purple-footer {
background-color: #362334;
height: 200px;

}
.buttons-footer{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: grid;
  justify-items: center;
  position: relative;
  bottom: 100px;
  left: 80px;
  width: 70px;
}
.button-contact-footer{
  background-color:#C096C7;
  font-weight:bolder;
  color: white;
  padding: 5px;
  border-radius: 22px;
  margin-bottom: 8px;
  font-size: 15px;

}
.dudes-footer {
position: relative;
bottom: 110px;
text-align: center;
width: 100px;
left: 82px;
}
.logo-footer{
width: 50px;
height: 50px;
padding: 10px;

}
.problems-footer{
  position: relative;
  bottom: 180px;
  display: grid;
  justify-items: right; 
  padding-right: 10px;
  width: 100px;
  left: 212px;
}
#problem-question {
  font-size: 14px;
  top: 40px;
}
#soporte{
  font-size: 12px;
  position: relative;
  bottom: 54px;
}

#mail-img {
  position: relative;
  width: auto;
  height: 50px;
  bottom: 48px;
}
.social-footer{
  display: flex;
  position: relative;
  flex-direction: column;
  top: 25px;
  left: 10px;
  width: 60px;
}
.byvir-footer-div{
  height: auto;
  display: grid;
  justify-content: center;
  margin-bottom: 15px;position: relative;
  bottom: 5px;
}
.byvir-footer{
  width: 100px;
  height: auto;

}
.footer-copyright{
  color: whitesmoke;
  text-align: center;
  font-weight: lighter;
  padding: 15px;
}
#separator-line-div-4{
  position: relative;
  bottom: 345px;
  left: 65px;
  height: 200px;
  width: 1px;
}
#separator-line-div-5{
  position: relative;
  bottom: 545px;
  left: 198px;
  height: 200px;
  width: 1px;
}

/* /==================== CONTACT ME ====================/ */
.nav_contact{
  display: contents;
}
.contact__home{
  width: 11rem;
  display: flex;
  justify-content: flex-end;
}
.body_pa{
  background-image: url(./FONDO\ SVG.svg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 55rem;
}
.contact-container-title{
text-align: center;
position: relative;
top: 90px;
padding-bottom: 20px;
}
.contact-container-title h1{
  padding-bottom: 20px;
  line-height: 37px;
  font-size: 35px;
  }
  .contact-container-title p{
    font-size: 18px;
    }
.contact-container-whatsapp{
text-align: center;
position: relative;
top: 70px;
margin-top: 27px;
font-size: 18px;
}
.contact-container-whatsapp div{
display: inline-flex;
position: relative;
top: 5px;
margin-bottom: 20px;
}

.contact-container-instagram{
  text-align: center;
  position: relative;
  top: 70px;
  margin-top: 27px;
  font-size: 18px;
}
.contact-container-instagram div{
  display: inline-flex;
  position: relative;
  top: 5px;
  margin-bottom: 20px;
  }
.contact-container-mail{
  text-align: center;
  position: relative;
  top: 70px;
  margin-top: 27px;
  font-size: 18px;
}
.contact-container-mail div{
  display: inline-flex;
  position: relative;
  top: 15px;
  margin-bottom: 20px;
}
.a_contact{
  color: #000;
}

.a_contact:hover{
  color: #a85774;
}